.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}


/* For FileDataTable */
table, tr, th, td {
    border: 3px solid black;
    padding: 10px;
}
th {
    text-align: center;
}

.centerTable {
     margin: 0px auto;
}

.table-legend {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}

#download-message {
    font-size: 12px;
    font-style: italic;
    color: #21010d;
    margin-left: 10px;
}

td > a {
    color: yellow;
}